apiVersion: batch/v1
kind: CronJob
metadata:
  name: harbor-cleaner
  namespace: default
spec:
  schedule: "0 0 * * 6"
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: harbor-cleaner
        spec:
          containers:
            - name: harbor-cleaner
              image: harbor.warnerchen.com/library/harbor-cleaner:latest
          restartPolicy: OnFailure
